body {
    font-family: 'Arial', sans-serif;
    background-color: #353839;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: auto;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

header nav h4 {
    color: #e6f5f0;
    font-weight: bold;
    font-size: 24px;
}

header nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    text-decoration: none;
    color: #e6f5f0;
    font-size: 14px;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #544c4c;
}

header nav .bi-three-dots {
    display: none;
}

.auth-container {
    padding: 40px;
    max-width: 1000px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .form-box {
    width: 48%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(33, 30, 30);
    color: rgb(105, 98, 98);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #34383d;
  }
  
  #google-signin-btn {
    background-color: #151414;
    padding: 10px;
    width: 950px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
  }
  
  #google-signin-btn:hover {
    background-color: #3f312f;
  }

footer {
    background: #535353;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    position: relative;
    width: 100%;
    bottom: 0;
}

ul{
    display: inline;
    margin: 40px;
    text-align: center;
}